@import "../../common/colors.scss";

.movie-list, .show-list {
    margin: 20px 0px ;
    h2{
        color:$font-secondary;
        margin-bottom:10px;
        font-weight: 400;
        font-family: 400;
    }
}

// since we added the Carousel, we dont need this anymore   
// .movie-container, .show-container {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
//     grid-gap: 15px;
// } 

.loading {
    color: $font-primary;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.movies-error, .shows-error {
    color: $font-primary;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}